
@{
    ViewBag.Title = "Test3";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Yapılacaklar</h4>

<p><del>Başlıklarda Arama kutucuğu</del>Content(İçerik) te kullanıldı. </p>
<p><del>Yazar Görselleri Düzenlenecek</del></p>
<p><del>Grafikler</del></p>
<p><del>Vitrin Teması</del></p>
<p><del>Gelen kutusunda arama</del></p>
<p><del>Yetkilendirmeler</del></p>
<p><del>Hata sayfasını layouttan ayrılacak</del></p>
<p><del>Sözlük ve vitrin ayrılacak</del></p>
<p><del>Herhangi bir tablo raporlanacak</del></p>
<p>Proje dosyaları sunucuya taşınacak</p>
<p>Alan adı alınacak</p>
<p>Proje canlıya taşınacak</p>
<p>Url de ID yerine isim gelsin</p>
<p><del>Iframe ekleme</del></p>
<p><del>SweetAlert</del></p>
<p><del>Admin Çıkış Yap</del></p>
